body {
  color: #000000;
  font-family: 'Lato', sans-serif;
}

#background {
  background-repeat: repeat;
  height: 100%;
  left: 0px; 
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: -1;
}

.stretch {
  height: 100%;
  width: 100%;
}

.jumbotron {
  background-image: url("../images/old_map.png");
  min-height: 100vh;
  margin: 0;
  position: relative;
}

#title {
  color: #0015FF;
  font-family: 'Bungee', cursive;
}

.btn-lg {
  background: #ffffff;
  border: solid .2rem #0015ff;
  font-size: 3rem;
  white-space: normal;
  word-wrap: break-word;
}

.btn-lg:hover {
  background: #00c946; 
}

#start-btn, #restart-btn { 
  margin-top: 25%;
  width: 50%;
}

#choice-0, #choice-1, #choice-2, #choice-3 {
  margin-top: 3%;
  width: 60%;
}

#no, #yes {
  font-family: 'Bungee', cursive;
  font-weight: bold;
}

#correct, #incorrect, #unanswered {
  font-family: 'Bungee', cursive;
  margin-top: 5%;
}

#yes, #correct {
  color: #00c946;
}

#no, #incorrect {
  color: #ff0900;
}

#gif {
  height: 30rem;
  margin-top: 5%;
  width: 40rem;
}

#progress-container {
  bottom: 5%;
  left: 0;
  position: absolute;
}

.progress {
  height: 10%;
  width: 60%
}