#background {
  background-repeat: repeat;
  height: 100%;
  left: 0px; 
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: -1;
}

.stretch {
  height: 100%;
  width: 100%;
}

.jumbotron {
  min-height: 100vh;
  margin: 0;
}

.btn-lg {
  font-size: 2.5rem;
  white-space: normal;
  word-wrap: break-word;
}

#start-btn { 
  margin-top: 25%;
  width: 50%;
}

#choice-0, #choice-1, #choice-2, #choice-3 {
  margin-top: 3%;
  width: 60%;
}

#restart-btn {
  width: 60%;
}